@charset "utf-8";



@media screen and (max-width: 900px) {
    
    .header {
        display: none;
    }
    
    .center {
        top: 0;
    }
    
    
    .btn[data-action='player'] {
        display: inline-block;
    }
    
    
    .btn-bar {
        height: 35px;
        right: 0;
        z-index: 999;
    }
    .btn-box {
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.12);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .btn {
        margin: 0;
        padding: 0;
        width: 25%;
        height: 100%;
        display: block;
        float: left;
        border: none;
        text-align: center;
        line-height: 35px;
        color: #C5C5C5;
    }
    .btn:hover {
        border: none;
    }
    .btn-box .active:after {
        content: '';
        display: block;
        border-bottom: 3px solid #A2A0A0;
        margin-top: -3px;
    }
    
    
    .data-area {
        top: 40px;
    }
    
    
    .data-area {
        right: 0;
    }
    
    
    
    .list-menu {
        display: none!important;
    }
    .music-name-cult {
        padding-right: 0!important;
    }
    
    
    .music-album {
        margin-right: 30px;
    }
    
    .list-mobile-menu {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(../images/player.png);
        background-position: -30px -365px;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
             -o-transform: translateY(-50%);
                transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
    }
    
    
    .con-btn {
        width: 120px;
    }
    
    .progress {
        width: auto;
        margin-left: 130px;
        margin-right: 10px;
        height: 100%;
        position: relative;
    }
    
    .vol {
        display: none;
    }
    
    
    .player {
        display: none;
        width: 100%;
    }
    .cover {
        margin-top: 60px;
    }
    #lyric {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .lyric {
        top: 260px;
    }
}


@media screen and (max-width: 620px) {
    
    .music-album {
        display: none;
    }
    
    .auth-name {
        width: 35%;
        padding-right: 30px;
        box-sizing: border-box;
    }
    
    .music-name {
        margin-right: 35%;
    }
}


@media screen and (max-width: 500px) {
    .center {
        bottom: 60px;
    }
    
    .sheet-item {   
        width: 33.33%;
    }
    
    .sheet-name {
        max-width: 100px;
    }
    .cover {
        margin-top: 50px;
    }
    .footer {
        height: 60px;
    }
}


@media screen and (max-width: 350px) {
    
    .sheet-item {   
        width: 50%;
    }
}